build/

generated/*
!generated/.gitkeep

outputs/*
!outputs/.gitkeep

python/calibration/.venv/
python/calibration/scripts/__pycache__/
python/calibration/captures/intrinsics/*
!python/calibration/captures/intrinsics/.gitkeep
python/calibration/captures/pose/*
!python/calibration/captures/pose/.gitkeep
python/calibration/output/*
!python/calibration/output/.gitkeep
python/real_world_example/scripts/__pycache__/
python/real_world_example/output/*
!python/real_world_example/output/.gitkeep

*.ppm
*.log
